= form_for 'session', :url => new_session_path  do |f|
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit "Login"

.options
  = link_to('Create a new account', new_user_path)
  = link_to('I forgot my password', password_reset_path)
