= form_for 'session', :url => new_session_path  do |f|
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit "Login"
