%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Full name:
  = @user.full_name
%p
  %b Password hash:
  = @user.password_hash

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
